:root {
    --primary-color: #f6af34;
    --secondary-color: #ffec6e;
    --background-color: #f0f0f0;
    --text-color: #1d1a1a;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

header {
    text-align: center;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 0px 2px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

header p {
    font-size: 1rem;
    color: #fff;
    margin-top: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soal {
    background-color: var(--primary-color);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 2rem;
}

.tampilan-soal {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 20px;
    font-weight: 600;
}

.daftar-jawaban {
    list-style: none;
    width: 100%;
    text-align: center;
}

.daftar-jawaban li {
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.daftar-jawaban li:hover {
    background-color: #e0e0e0;
}

input[type="radio"] {
    opacity: 0;
    position: relative;
    z-index: 1;
}

button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #4f4e4e;
    color: #fff;
}

.daftar-jawaban p {
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgb(111, 237, 111);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    margin: 1.5rem 0;
}

footer {
    margin-top: 2rem;
    text-align: center;
    color: var(--text-color);
    font-size: 0.9rem;
}