:root {
    --primary-color: #18191a;
    --secondary-color: #0c3943;
    --background-color: #1b2124;
    --text-color: #85e3eb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
}

.container {
    width: 500px;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: var(--text-color);
    margin-bottom: 5px;
    font-size: 2.5rem;
    text-shadow: 0 0px 20px;
}

p {
    margin-top: 5px;
    color: #fff;
    text-shadow: 0 0px 20px;
}

.input {
    margin: 1rem 0;
}

input[type="text"], input[type="number"] {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: var(--text-color);
}

li {
    padding: 10px;
    background-color: var(--background-color);
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    display: flex;
    gap: 0.5rem;
}

button {
    padding: 5px 10px;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}